@font-face {
  font-family: Passion-One;
  src: url('../../public/fonts/PassionOne-Regular.woff2');
}

@font-face {
  font-family: Inter-Bold;
  src: url('../../public/fonts/Inter-Bold.woff2');
}

@font-face {
  font-family: Inter-Regular;
  src: url('../../public/fonts/Inter-Regular.woff2');
}

:root{
  --main-background-color: black;
  --text-color: white;
  --elements-color: #F86600;
}